{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <section class="bg-light-gray text-center" style="background-color: #6A7EFF;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">Contact Us</h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2 class="display-6">Contact Information</h2>
        <p class="lead">If you have any questions or inquiries about the Intern Finder application, feel free to reach out to us using the contact information provided below:</p>
        <ul class="lead">
            <li><strong>Email:</strong> info@internfinder.com</li>
            <li><strong>Phone:</strong> +9471 123-456-7890</li>
            <li><strong>Address:</strong> 123 Main Street, kandy, Sti Lanka</li>
        </ul>
    </section>
{% endblock %}
