{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <section class="bg-light-gray text-center" style="background-image: url('{% static 'office4.jpg' %}');
    /* Adjust background image properties */
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading" style="color:white;">Contact Us</h1>
                </div>
            </div>
        </div>
    </section>

    <section>
    <div class="container">
        <h2 class="display-6">Contact Information</h2>
        <p class="lead">If you have any questions or inquiries about the Intern Finder application, feel free to reach out to us using the contact information provided below:</p>
        <ul class="lead">
            <li><strong>Email:</strong> info@internfinder.com</li>
            <li><strong>Phone:</strong> +9471 123-456-7890</li>
            <li><strong>Address:</strong> 123 Main Street, kandy, Sti Lanka</li>
        </ul>
    </div>
    </section>
{% endblock %}
