<html>


<body>
    <section style="background-color: #E3E1FF;">
    <div class="col-lg-8 mx-auto">
        <h1 class="heading">Welcome to Intern Finder: Your Gateway to Exciting Opportunities! </h1>
    </div>
    <br>
            <p class="lead">Employer companies can greatly benefit from utilizing this app in several ways. Firstly, the app provides a streamlined platform for posting job openings, allowing companies to reach a wider pool of potential candidates efficiently. By utilizing features such as job categorization and detailed job descriptions, 
                companies can attract applicants who closely match their requirements, saving time and resources during the hiring process.</p>
    <section>
</body>
</html>