{% load static %}
<html>


<body>
    <section style="background-image: url('{% static 'office.jpg' %}');
    /* Adjust background image properties */
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;">
    <div class="col-lg-8 mx-auto">
        <h1 class="heading">Welcome to Intern Finder: Your Gateway to Exciting Opportunities! </h1>
    </div>
    <br>    
        
    <br>
    <br>
        <br>
        <br>
    <br>
        <br>
        <br>
        <br>
        <br>
    <br>
        <br>
        <br>
    </section>

</body>
</html>